name: npm-publish

on:
  push:
    paths:
      - 'npm/**'
    branches:
      - main
      - v5

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # КРИТИЧНО для OIDC!

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v5
        with:
          node-version: '24' # includes npm@11.6.0
          registry-url: https://registry.npmjs.org
      - name: Publish package (v5 tag)
        if: ${{ github.ref_name == 'v5' }}
        uses: JS-DevTools/npm-publish@v4
        with:
          package: npm/package.json
          tag: v5
          provenance: true

      - name: Publish package (latest tag)
        if: ${{ github.ref_name == 'main' }}
        uses: JS-DevTools/npm-publish@v4
        with:
          package: npm/package.json
          tag: latest
          provenance: true
